<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <clear/>
      <add name="BD" providerName="System.Data.SqlClient"
      connectionString ="data source=localhost; initial catalog=db_pizza; persist security info=True;user id=sa;password=P@ssw0rd; Integrated Security=SSPI" />
    </connectionStrings>
  <appSettings>
    <add key="IdiomaRegiao" value="pt-BR"/>
  </appSettings>
</configuration>